{% extends 'core/base.html' %}



{% block content %}
    <div class="item_header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia reiciendis sint modi architecto ut voluptatum labore placeat molestias provident.</div>
    <div class="item_main">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error magni temporibus commodi unde architecto accusamus dicta iure eos ducimus mollitia. Quibusdam excepturi doloribus reprehenderit esse fuga natus sunt amet laudantium mollitia, perferendis dicta voluptatibus eaque tempora quia ducimus commodi iusto totam in. Possimus vero nulla sint similique iste rem sequi.</div>
    <div class="item_sidebar">Sidebar</div>
    <div class="item_bottom">Bottom</div>
{% endblock content %}