{% load static %}

<div class="nav_container jcsb br-b">
    <div class="nav_logo pa nav_item">
      Logo
    </div>
    <div class="navn_logo_text pa nav_item">
      We do what we do
    </div>
    <div class="nav_links jcsb pa nav_item">
      <ul>
        <li>
          <a href="{% url 'home' %}" >Home</a>
        </li>
        <li>
          <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li>
          <a href="{% url 'eshop' %}">Eshop</a>
        </li>
        <li>
          <a href="{% url 'suppliers' %}">Suppliers</a>
        </li>
        <li>
          <a href="{% url 'features' %}">UX-UI Features</a>
        </li>
      </ul>
    </div>

    <div class="user_status">
      <div class="user_status ml-2">
        <img class="icons"  src="{% static '/icons/user.png' %} "  alt="user_status">
    </div>
    </div>

    <div class="nav_status pa nav_item">
      
      <div class="shoping_bag ml-2">
          <img class="icons" src="{% static '/icons/shoppingCart.png' %} " alt="shoping bag">
      </div>
    </div>
</div>
  