{% extends 'core/base.html' %}



{% block content %}

  <h1 class="mb-2">Deli Hellas </h1>

    <div class="shop_container">
        {% for product in products %}
          <div class="card ml-2 jcsb mb-2">
              <div class=" card_title mb-2 tac">
                {{ product.product_name }}
              </div>
            
              <img class="card_image" src=" media/{{ product.product_image }} " alt=" {{ product.product_name }}">

              <div class="card_description mb-1 tac">
                  {{ product.product_description }}
              </div>

          </div>
        {% endfor %}
  </div>
 
    

  <a href="{% url 'add_product' %}">Add new product</a>

{% endblock content %}

