
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
  height: 100%;
}

.page_container{
  width: 100%;
  /* max-width: 1280px; */
  margin: auto;
}


.top_header{
	background-color: #FFF8DC;
  height: 40px;
  display: flex;
}

.btn_supplier{
	background-color: #36454F;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
}

.btn_supplier:hover {
	background-color:#C32148;
}
.btn_supplier:active {
	position:relative;
	top:1px;
}


.core_home{
  background-image: url( '/static/images/main/greek-meze-dinner.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.3;
}


.br-b{
  border-bottom: 1px solid black;
}


.pl-05{
  padding-left: 5px;
}
.pr-05{
  padding-right: 5px;
}

.ma{
  margin: auto;
}

.mt-2{
  margin-top: 20px;
}

.mb-2{
  margin-bottom: 20px ;
}

.mb-1{
  margin-bottom: 10px;
}

.ml-2{
  margin-left: 20px;
}

.mr-2{
  margin-right: 20px;
}

.mb-05{
  margin-bottom: 5px;
}

.mt-05{
  margin-top: 5px;
}

.pa{
  padding: 5px;
}

.jcsb{
  justify-content: space-between;
}


.jcr{
  justify-content:right;
}


.tac{
  text-align: center;
}


