


.container {
	height: 90vh;
	width: 100%;
	/* max-width: 1200px; */
	background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)),
	url('/static/images/Olives.jpg');
	opacity: 0.75;
	background-size: cover;
	background-position: center;
	/* margin: auto; */
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;

}

.logo {
	color: #f3eec2;
	font-size: 28px;
}

.logo__span {
	color: #eca855;
	font-size: 1rem;
}

.header__nav  ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

.nav__bottom ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.nav__bottom ul li a:hover {
	color: #FF4500;
	transition: .3s;
}

.btn {
	border: none;
	background: #FFDAB9;
	padding: 12px 30px;
	border-radius: 10px;
	color: #FF00FF;
	font-size: 1rem;
	transition: .4s;
	opacity: .3;
}

.btn:hover {
	transform: scale(1.1);
	cursor: pointer;
}